{% extends 'base.html' %}

{% block content %}

<h1>Book Detail</h1>

<div class="card">
  <div class="card-content">
    <h4>{{ book.title }}</h4>
    <p>Author: {{ book.author }}</p>
    <p>Year: {{ book.year }}</p>
    <p>Description: {{ book.description|linebreaks }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'book_edit' book.id %}" class="teal-text text-darken-3">Edit</a>
    <a href="{% url 'book_remove' book.id %}" class="red-text text-darken-4">Remove from Shelf</a>
  </div>
</div>

<div class="row">

  <div class="col s6">
    <h5>Favourite Quotes</h5>

    <table class="striped">
      <tbody>
        {% for quote in book.quote_set.all %}
        <tr>
          <td>{{quote.text}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{% url 'add_quote' book.id %}" method="POST">
      {% csrf_token %}
      {{ quote_form.as_p }}
      <input type="submit" class="btn teal darken-3" value="Add Quote">
    </form>

  </div>

  <div class="col s4 offset-s1 center">
    <h5>{{ book.title }} Genres</h5>
    <div class="card">
      <div class="card-content">
        <div>
          {% if book.genres.count %}
          {% for genre in book.genres.all %}
          <div>{{genre.name}}
            <form action="{% url 'unassoc_genre' book.id genre.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn-floating btn-small red darken-4">X</button>
            </form>
          </div>
          <hr />
          {% endfor %}
        </div>
        {% else %}
        <h5>No genres defined yet.</h5>
        {% endif %}
      </div>
    </div>

    <h5>Available Genres</h5>
    <div class="card">
      <div class="card-content">
        <div>
          {% if not_genres.count %}
          {% for genre in not_genres %}
          <div>{{genre.name}}
            <form action="{% url 'assoc_genre' book.id genre.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn-floating btn-small teal darken-3">+</button>
            </form>
          </div>
          <hr />
          {% endfor %}
        </div>
        {% else %}
        <h5>No genres defined yet.</h5>
        {% endif %}
      </div>
    </div>


  </div>
</div>



{% endblock %}